@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --light-blue: #7CFDFF;
  --greenish-blue: #87E7C7;
  --green: #84E88D;
  --yellow: #EFE58C;
  --pink: #FF3F8B;
  --flash-green: #00FF00;
}

body {
  background-color: var(--pink);
  margin: 0px;
}

.app {
  display: grid;
  grid-template-areas:
    "header header"
    "current-score best-score"
    "card-holder card-holder";

  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}


.header {
  grid-area: header
}

.current-score {
  grid-area: current-score
}

.best-score {
  grid-area: best-score
}

.card-holder {
  grid-area: card-holder;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  padding: 30px;
  gap: 10px;
  background-color: var(--yellow);

  height: 80vh;
  width: 100vw;
}

.card-holder > .card {
  background-color: var(--light-blue);
  padding: 10px;
  border-radius: 20px;
  height: 100%;
  max-width: 100%;

  /* Keeps the the grid cells from expanding */
  min-width: 0;
  min-height: 0;
}

.card-holder > .card:hover {
  background-color: var(--greenish-blue);
}

.header {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 650;
  color: white;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.counter {
  font-family: 'Short Stack', cursive;
  font-size: 1.5rem;
  justify-self: center;
  color: white;
  margin-bottom: 10px;
}

.flash {
  animation: flash 0.5s;
}

@keyframes flash {
  from {background-color: var(--flash-green);}
  to {background-color: transparent;}
}