@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

:root {
  --light-blue: #7CFDFF;
  --greenish-blue: #87E7C7;
  --green: #84E88D;
  --yellow: #EFE58C;
  --pink: #FF3F8B;
}

body {
  background-color: var(--pink);
  margin: 0px;
}

.card-holder {
  background-color: var(--yellow);
}

.card-holder > .card {
  background-color: var(--greenish-blue);
}

.header {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 650;
  color: white;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.counter {
  font-family: 'Short Stack', cursive;
  font-size: 1.5rem;
  justify-self: center;
  color: white;
  margin-bottom: 10px;
}

.app {
  display: grid;
  grid-template-areas:
    "header header"
    "current-score best-score"
    "card-holder card-holder";

  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  grid-area: card-holder;

  padding: 30px;
  gap: 10px;
}

.card-holder > img {
  width: 20vw;
}

.header {
  grid-area: header
}

.current-score {
  grid-area: current-score
}

.best-score {
  grid-area: best-score
}

